/* ADD YOUR CSS STYLES BELOW */

#newcolor1 {
  background: #ffffa2;
}

.color1 {
  float:left;
  width:10.00%;
  height: 10%;
  background: #000034;
}
.color2 {
  float:left;
  width:10.00%;
  height: 10%;
  background: #081650;
}

.color3 {
  float:left;
  width:10%;
  height: 10%;
  background: #152665;
}

.color4 {
  float:left;
  width:20%;
  height: 10%;
  background: #ffd600;
}


/* CCS @MEDIA SCREEN 4 LATER */
@media screen and (max-width: 1200px) and (min-width: 0px) {

  .color4 {
    background: #ffffa2;
  }
  #newcolor1 {
  background: #ffd600;
}

}


/* DON'T DELETE THIS */
#flag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
}

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

















/* DON'T DELETE THIS */
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
